<div class="container">

  <%= form_tag plots_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>


<!-- <p><%= @search_result %></p> -->


  <h1 class="title-plot-index">Available plots</h1>
  <div class="plot-grid row no-gutters">
    <% @plots.each do |plot|%>
      <div class="plot-card col-xs-12 col-sm-6 col-md-4 col-lg-3" style="background-image:  url(<%= plot.image_url %>);">
        <h1><%= plot.plot_number %></h1>
        <p><i class="fas fa-map-pin"></i> <%= plot.site.name %></p>
        <!-- <img src= <%= plot.image_url %> alt="various plots" height="250" width="250"> -->
      </div>
    <% end %>
  </div>
</div>

