<%= render './plots/navbar' %>


<!-- <p><%= @search_result %></p> -->
<% if params[:query].nil? %>
  <%= render 'banner' %>
  <%= render 'recently_booked' %>
<% elsif @plots == [] %>
  <h1 class="title-plot-index">No plots</h1>
  <%= render 'no_plots' %>
<% else %>
  <h1 class="title-plot-index">Available plots</h1>
  <%= render 'available_plots' %>
<% end %>


